<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd">

   <!-- Setter injection
    <bean id="car" class="com.Abhinav.SpringDemo.Car">
    	<property name="battery" value="85"></property>
    </bean>
   -->
   
    <!-- Field injection   -->
    <bean id="car" class="com.Abhinav.SpringDemo.Car">
    	<property name="battery" value="85"></property>
    	<property name="engine" ref="engine"></property>
    </bean>
      <bean id="engine" class="com.Abhinav.SpringDemo.Engine">
    </bean>
   
</beans>